.jumbotron {
	margin-top: 125px;
	background-color: white;
	border: 1px solid;
}

.registerButton {
	border: 1px solid;
	margin: 5px;
}

.registerButton:hover {
	color: coral;
	border: 1px solid coral;
}

.loginButton {
	border: 1px solid;
	margin: 5px;
}

.loginButton:hover {
	border: 1px solid coral;
	color: coral;
}
